body{
    background-color: rgb(180, 183, 223);
    text-align: center;
}

h1{
    text-align: center;

}
h2{text-align: center;

}
h3{text-align: center;

}

img{
    width: 600px;
}
