body{
    background-color: rgb(190, 199, 168);
    text-align: center;
}

h1{
    text-align: center;

}
h2{text-align: center;

}
h3{text-align: center;

}

img{
    width: 600px;
}
